<% layout('layouts/boilerplate') -%>
<body>
    <div class="create-form">
    <h3>Create a New Listing</h3>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data" >
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
       <input name="title" id="title" class="form-control inp" required placeholder="Enter Title" type="text"/>
       <div class="valid-feedback">
     Title Looks good!
    </div>
    <div class="invalid-feedback">
       Please enter title for your listing.
      </div>
      </div>

      <div class="mb-3">
         <label for="desc" class="form-label">Description</label>
    <textarea placeholder="Enter Description" id="desc" name="description" class="form-control inp" required></textarea>
     <div class="valid-feedback">
      Description Looks good!
    </div>
    <div class="invalid-feedback">
        Please enter a short description.
      </div>
    </div>

    <div class="mb-3">
         <label for="image" class="form-label">Upload Listing Image</label>
     <input name="image" id="image" class="form-control inp" type="file" required/>
    </div>

    <div class="mb-3">
  <label for="category" class="form-label">Category</label>
  <select name="category" id="category" class="form-control inp category" required>
    <option value="">Select Category</option>
    <% 
      const categories = ["Trending","Rooms","Iconic Cities","Mountains","Castles","Amazing Pools","Camping","Farms","Arctic","Domes","Boats"]; 
      categories.forEach(cat => { 
    %>
      <option value="<%= cat %>" >
        <%= cat %>
      </option>
    <% }) %>
  </select>
</div>


    <div class="row">
        <div class="mb-3 col-md-4">
         <label for="price" class="form-label">Price</label>
     <input name="price" id="price" class="form-control inp"  placeholder="Enter Price" type="number" required/>
      <div class="invalid-feedback">
       Price should be valid.
      </div>
    </div>

     <div class="mb-3 col-md-8">
         <label for="tax" class="form-label">Tax</label>
     <input name="tax" id="tax"  class="form-control inp" placeholder="Enter tax percentage" type="number" max="50" min="0" required/>
      <div class="invalid-feedback">
        Enter a tax percentage between 0 and 50.
      </div>
    </div>
    
    </div>

    <div class="row">
      <div class="mb-3 col-md-4">
         <label for="location" class="form-label">Location</label>
     <input name="location" id="location" class="form-control inp" placeholder="Jaipur, Rajasthan" type="text" required/>
      <div class="invalid-feedback">
        Please enter a valid location.
      </div>
    </div>

    <div class="mb-3 col-md-8">
         <label for="country" class="form-label">Country</label>
     <input name="country" id="country"  class="form-control inp" placeholder="India" type="text" required/>
      <div class="invalid-feedback">
        Please enter a valid country.
      </div>
    </div>
    </div>

    <button class="btn btn-dark add-btn mb-3">Create</button>
    </form>

</div>  
</body>